<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensageiro</title>
</head>
<body>
    <h1>segunda-feira</h1>
    <section id="mensageiro">
        <section class="aluno">
            <div>Nome do aluno</div>
            <div>Horário</div>
            <select name="" id="">
                <option value="telefone_aluno">5531991</option>
                <option value="telefone_responsavel">5531992</option>
            </select>
            <div><button>Enviar</button></div>
        </section>


        {% for aluno in alunos %}
        <section class="aluno">
            <div>{{ aluno }}</div>
            <div>{{ alunos[aluno]["horario"] }}</div>
            <select name="" id="">
                <option value="telefone_aluno">{{ alunos[aluno]['telefone_aluno'] }}</option>
                <option value="telefone_responsavel">{{ alunos[aluno]['telefone_responsavel'] }}</option>
            </select>
            <a target="_blank" href="{{ 'https://wa.me/'+alunos[aluno]['telefone_aluno']+'''?text=Olá! Aqui está o link da nossa aula de matemática de hoje, às ''' + alunos[aluno]['horario'] +'''. https://us06web.zoom.us/j/9090080090?pwd=d205OTMwdFl1R2hwN3ppcHdkQUhnUT09. Caso não possa fazer a aula, entre em contato com a direção com antecedência!''' }}">Enviar</a>
            
            <div><button>Enviar</button>
        </section>
        {% endfor %}
    </section>
</body>
</html>